@model IEnumerable<TeatcherCRUD_Scafolding.Teatcher>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeatcherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeatcherSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeatcherCity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeatcherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeatcherSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeatcherCity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeatcherId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeatcherId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeatcherId })
        </td>
    </tr>
}

</table>
